<ion-header>
  <ion-toolbar>
    <ion-title>Términos y condiciones</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Proyecto de Fin de Grado</h2>
  <p>
    Esta aplicación ha sido desarrollada como parte de un Trabajo de Fin de Grado (TFG) por Germán Álvarez González del curso 2º Desarrollo de Aplicaciones Multiplataforma, utilizando Ionic y Angular. El objetivo del proyecto es crear una aplicación que permita a los usuarios gestionar sus tareas diarias de manera eficiente, poder ver sus ganancias y productos vendidos, y actualizar su perfil con funciones nativas gracias a Capacitor
  </p>
  <p>
    Código fuente: <a href="https://github.com/gerysx/" target="_blank">github.com/gerysx</a>
  </p>
</ion-content>
